<%- include('partials/header') -%>

		<section class="locations-list-container">
			<h2>Locations List</h2>
			<ul class="locations-list">
				<% data.forEach(location => { %>
					<li>
						<a href="locations/specificLocation/<%= location._id%>"
						class="locations-list-item">
							<%= location.name %>
							<p><%= location.phenomena %></p>
							<p><%= location.state %></p>
						</a>
					</li>
				<% }) %>
			</ul>
			<a href="">Add a Location</a>
		</section>

<%- include('partials/footer') -%>