<%- include('partials/header') -%>

		<section class="locations-list-container">
			<section class="location-header">
					<h2>Locations List</h2>
					<a href="locations/addLocation" id="addButton">Add a Location</a>
			</section>


			<ul class="locations-list">
				<% generalLocations.forEach(location => { %>
					<li>
						<a href="locations/specificLocation/<%= location._id%>"
						class="locations-list-item">
							<%= location.name %>
							<p class="red mobileOut"><%= location.phenomena %></p>
							<p class="red"><%= location.state %></p>
							<p class="red mobileOut">Added By: <%= location.userName %></p>
						</a>
					</li>
				<% }) %>
			</ul>
			
		</section>

<%- include('partials/footer') -%>