<%- include('partials/altHeader') -%>

    <section>   
        
        <section>
            <ul class="locationInfo">
                <li id="name" name="name"><%= location.name %></li>
                <li><img src="/location.jpg"
                        class="specificLocationImage"></li>
                <li><%= location.townOrCity %></li>
                <li><%= location.streetAddress %></li>
                <li><%= location.story %></li>
                <li><%= location.phenomena %></li>
                <li><%= location.latitude %></li>
                <li><%= location.longitude %></li>
                <li>User Added By</li>
            </ul>
        </section>
        <form action="<%= location._id %>/setLocation " method="get" id="setLocation">
        <button 
            class="voterButton"
            type="submit">
            Set as next Investigation
        </button>
    </form>

    <a href="/locations"> Back to Locations </a>
    </section>


<%- include('partials/footer') -%>