<%- include('partials/header') -%>
		
		<section class="team-board-container">
			<h2><%= user.userName %>'s Next Investigation</h2>
			<section class="team-board-info">
				<img src="location.jpg" alt="location picture">
				<ul>
					<li><p><strong>Scheduled for:</strong> <%= investigation.date %></p></li>
					<li><p><strong>Led by:</strong> <%= investigation.leader %></p></li>
					<li><p><strong>Location:</strong> <%= investigation.location %></p></li>
					<li><p><strong>Area:</strong> <%= location[0].townOrCity %>, <%= location[0].state %></p></li>
					<li><p><strong>Location Story:</strong> <%= location[0].story %></p></li>
				</ul>
			</section>
		</section>

		<section class="evidence-container team-board-container">
<<<<<<< HEAD
			<section class="evidence-banner">
				<h3>Evidence Area</h3>
				<a href="/team/NewEvidencePage">Add Evidence</a>
			</section>
			<ul class="evidence-list">
				<% evidenceFiles.forEach(evidence => { %>
					<li><%= evidence.location %></li>
=======
		
			<h3>Evidence Area</h3>
			<ul class="evidence-list">
				<% evidenceFiles.forEach(evidence => { %>
>>>>>>> 4b42478196c9c2727df1596b3d54df5654352089
					<li><%= evidence.notes %></li>
					<img 
						src=<%= evidence.image %>
						class="evidence-image"  />
				<% }) %>
			</ul> 
<<<<<<< HEAD
			
=======
			<a href="/team/NewEvidencePage">Add Evidence</a>
>>>>>>> 4b42478196c9c2727df1596b3d54df5654352089
		</section> 

		


<%- include('partials/footer') -%>
