<%- include('partials/header') -%>
		
		<section class="team-board-container">
			<h2><%= user.userName %>'s Next Investigation</h2>
			<section class="team-board-info">
				<img src= <%- location[0].image ? location.image : "/location.jpg" %>
                        class="specificLocationImage">
				<ul>
					<li><p><strong>Scheduled for:</strong> <%= investigation.date %></p></li>
					<li><p><strong>Led by:</strong> <%= investigation.leader %></p></li>
					<li><p><strong>Location:</strong> <%= investigation.location %></p></li>
					<li><p><strong>Area:</strong> <%= location[0].townOrCity %>, <%= location[0].state %></p></li>
					<li><p><strong>Location Story:</strong> <%= location[0].story %></p></li>
				</ul>
			</section>
		</section>

		<section class="evidence-container team-board-container">
			<section class="evidence-banner">
				<h3>Evidence Area</h3>
				<a href="/team/NewEvidencePage">Add Evidence</a>
			</section>

			<ul class="evidence-list">
				<% evidenceFiles.forEach(evidence => { %>
					<li><p><%= evidence.notes %></p>
						<img 
							src=<%= evidence.image %>
							class="evidence-image"  />
					</li>
				<% }) %>
			</ul> 
			
		</section> 

		


<%- include('partials/footer') -%>
